

/*Main body css */

body{
    background-color: rgba(128, 0, 128, 0.4 );
    font: normal 17px Veranda, sans-serif;
    width: 70%;
    margin: 1em auto;
    line-height: 2em;
    text-align: justify;
} 


h1{
    text-align: center;
    font-size: 60px;
}

h2{
    text-align: center;
    font-size: 30px;
}

h3{
    text-align: center;
    font-size: 25px;
}


p{
    text-indent: 50px;
}




html {
  scroll-behavior: smooth;
}




/*footnotes*/

#footnotes {
  font-size: 14px;
  margin-top: 2rem;
}

#footnotes ol {
  padding-left: 1.5rem;
}

#footnotes li {
  margin-bottom: 0.5rem;
}

sup a {
  text-decoration: none;
  color: blue;
}

.backlink {
  text-decoration: none;
  margin-left: 5px;
}



