

/*Main body css */

body{
    background-color: rgba(200, 200, 200, 0.4 );
    font: normal 17px Veranda, sans-serif;
    width: 70%;
    margin: 1em auto;
    line-height: 2em;
    text-align: justify;
} 


h1{
    text-align: center;
    line-height: 1em;
    font-size: 40px;
}

h2{
    text-align: center;
    font-size: 20px;
}

h3{
    text-align: center;

}


p{
    text-indent: 50px;
    font-size: 12px;
}

blockquote{
    font: normal 12px Veranda, sans-serif;
        width: 70%;
    margin: 1em auto;
     line-height: 2em;
    
}


html {
  scroll-behavior: smooth;
}




/*footnotes*/

#footnotes {
    font: normal 10px Veranda, sans-serif;
    margin-top: 2rem;
}

#footnotes ol {
  padding-left: 1.5rem;
}

#footnotes li {
  margin-bottom: 0.5rem;
}

sup a {
  text-decoration: none;
  color: blue;
}

.backlink {
  text-decoration: none;
  margin-left: 5px;
}






/* images*/

.dedomenici {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.skip {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.bath {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.imageText {
    text-align: center;
    justify: center;
    font-size: 12px
}

.gramText {
    text-align: center;
    justify: center;
    font-size: 12px
}
