*~
.#*
.gitignore~
communityarts.html~
explotationOfLabour.html~
plannedObsolecence.html~
locateMyself.html~
index.htm~
issuesOfCultureRelatedToClass.html~
workerAndConsumerExploitation.html~
degrowth.html~s
test.html~
interlocuters.html~
openSourceSoftware.html~
oppression.html~